.semaphore {
  padding: 20px;
  background-image: linear-gradient(45deg, #333, #555, #333);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.container-semaphore {
  padding: 5px;
  /* background-image: linear-gradient(
    45deg,
    red,
    yellow,
    green,
    red,
    yellow,
    green
  ); */
  border-radius: 20px;
}
